@page "/"

<PageTitle>Home</PageTitle>
<div class="d-flex justify-content-center align-items-center m">

	<div class="text-center">
		<h1>DEMEX</h1>
		<p>Bienvenido al sistema de gestion</p>
		<p> Administra tus órdenes, clientes, productos e inventario de forma eficiente y organizada.</p>
	</div>

</div>
