@using LAFABRICA.Data.DB;
@using LAFABRICA.Models.Interface;
@using LAFABRICA.Models.AuxiliarDTOS
@inject IClientService service;

<div class="container">
    <div class="row">
        
        <div class="col-md-6">
            <h4 class="mb-3">Información de la Empresa</h4>

            <div class="row mb-2">
                <div class="col-3 text-start fw-bold">Empresa:</div>
                <div class="col-7">@client?.Name</div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-start fw-bold">Contacto:</div>
                <div class="col-7">@client?.PhoneNumber</div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-start fw-bold">Correo:</div>
                <div class="col-7">@client?.Email</div>
            </div>

            <div class="row mb-2">
                <div class="col-6 text-start fw-bold">Cantidad de compras:</div>
                <div class="col-2">@client?.CompletedOrders</div>
            </div>
        </div>

      
        <div class="col-md-6">
            <h4 class="mb-3">Información del Encargado</h4>

            <div class="row mb-2">
                <div class="col-3 text-start fw-bold">Nombre:</div>
                <div class="col-7">@client?.Manager</div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-start fw-bold">Contacto:</div>
                <div class="col-7">@client?.ManagerPhoneNumber</div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-start fw-bold">Ubicación:</div>
                <div class="col-7">@client?.Location</div>
            </div>

            <div class="row mb-2">
                <div class="col-3 text-start fw-bold">Zona:</div>
                <div class="col-7">@client?.SpecificLocation</div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            @if (client?.IsFrequent==true)
            {
                <Alert Color="AlertColor.Info" class="w-100">
                    <Icon Name="IconName.ExclamationCircle" /> Cliente frecuente, elegible para descuentos especiales
                </Alert>
            }
        </div>
    </div>
</div>


@code {
    private ClientOrdersDTO? client;
    [Parameter] 
    public int ClientId { get; set; }
    protected override async Task OnParametersSetAsync()
    {
        if (ClientId != 0)
        {
            client = await service.GetClientWithCompletedOrders(ClientId);
        }
        // await InvokeAsync(StateHasChanged);
    }

}
